@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Skranji&display=swap');

*, *::before, *::after {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.parallax {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s cubic-bezier(.2,.49,.32,.99);
}

/* Element indexing */
.sky {
    z-index: 0;
}

.foreground {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.cliff-right{
    z-index: 6;
    left: 55%;
}

.cliff-left {
    z-index: 6;
    left: 45%;
}

.fog-water{
    z-index: 5;
}
.fog-mtn {
    z-index: 5;
}

.mtn-big{
    z-index: 3;
}

.mtn-small {
    z-index: 2;
}

.title {
    z-index: 6;
    pointer-events: auto;
    color: rgba(255,255,255,.9);
    font-size: 3.5rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h2,
.title h3{
    letter-spacing: .4rem;
    line-height: 1.1;
}

/* Header */
header {
    width: 100%;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
    border-bottom: 2px solid rgba(255,255,255,0.7);
    background: transparent;
}

header nav{
    color: white;
    max-width: 1860px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul li{
    padding: 0 1.5rem;
}

header ul li a {
    text-decoration: none;
    color: white;
}

header .hamburger {
    background-color: rgba(100,100,100,0.6);
    display: flex;
    padding: .5rem;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* Vignette */
.vignette {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: radial-gradient(
        ellipse,
        rgba(0,0,0,0) 80%,
        rgba(0,0,0,1)
    );
}